<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col-lg-3">
        <h5 class="card-title" >{{department?.name}}</h5>
        <div class="admins-department">
          <h6>Admins:</h6>
          <ul class="admins-list pl-2">
            <li class="admin-element" *ngFor="let admin of departmentAdmins">
              {{admin.name}} {{admin.surname}}
              <a
              *ngIf="authService.isSuperAdmin()"
              [routerLink]="['/edit-admin', admin.id]"
              class="edit "
              title="Edit Employee!">
              <mat-icon >edit</mat-icon>
            </a>
            <a
            *ngIf="authService.isSuperAdmin()"

            (click)="deleteAdmin(admin.id)"
            class="delete "
            title="Fire Employee!" >
            <mat-icon >delete</mat-icon>
          </a>

            </li>
          </ul>
        </div>
        <div class="subtitle mb-3">Employees:</div>
        <app-employees-list *ngFor="let employee of departmentEmployees" [employee]="employee"></app-employees-list>
        <nav aria-label="Departments navigation" >
          <ul class="pagination ml-0 mr-auto">
            <li class="page-item" (click)="nextPageEmployees(-1, true)"><span class="page-link" >Previous</span></li>
            <li
            class="page-item" *ngFor="let number of (totalNumberOfJobEmployees / pageEmployeesSize) | numberToArray"
            (click)="nextPageEmployees(number + 1, false)">
              <span  class="page-link" >{{number + 1}}</span>
            </li>
            <li class="page-item" (click)="nextPageEmployees(+1, true)"><span class="page-link">Next</span></li>
          </ul>
        </nav>
      </div>
      <div class="col-auto">
        <h6>Description</h6>
        <p class="card-text department-view">{{department?.description}}</p>
        <h6>Job Position</h6>
        <p class="card-text card-lists">
          <app-positions-list
          *ngFor="let position of departmentJobPositions"
          [position]="position"></app-positions-list>
        </p>
        <nav aria-label="Departments navigation" >
          <ul class="pagination mx-auto ">
            <li class="page-item" (click)="nextPage(-1, true)"><span class="page-link" >Previous</span></li>
            <li
            class="page-item" *ngFor="let number of (totalNumberOfJobPositions / pagePositionSize) | numberToArray"
            (click)="nextPage(number + 1, false)">
              <span  class="page-link" >{{number + 1}}</span>
            </li>
            <li class="page-item" (click)="nextPage(+1, true)"><span class="page-link">Next</span></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>


