blockquote p {
  font-size: 0.95rem!important;
  margin:0;
}

blockquote cite{
  font-size: 0.85rem!important;
}

.card {
  background-color: transparent!important;
  border: none!important;
}

a {
  color: rgb(37, 35, 35);
}
a mat-icon, button {
  display: inline-block!important;
  width: 40px;
  padding: 0;
}

.actions {
  width: 120px;
}

.view:hover {
  cursor: pointer;
  color: #305EA1;
}

.edit:hover{
  cursor: pointer;
  color: orange;
}

.delete:hover {
  cursor: pointer;
  color: red;
}
